ipykernel
sphinx==4.0.3
sphinx-rtd-theme>=0.5.0rc1
myst-parser
sphinxcontrib-contentui
sphinx-copybutton
sphinxcontrib-spelling
nbsphinx
sphinxcontrib.yt
sphinxcontrib-svg2pdfconverter
sphinxcontrib-bibtex==1.0.0
